@mixin Sidebar {
    #sidebar-links {
        display: flex;
        flex-flow: column;
    }
    .sidebar-link-container{
        margin-top: .5rem;
    }
    #cv-link-container{
        margin-top: 3rem;
    }
}