@mixin Sidebar {
    #homepage-link{
        margin-bottom: 3rem;
    }
    .sidebar-link-container{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    #cv-link-container{
        margin-top: 3rem;
    }
    .incomplete-page{
        display:none;
    }
}