@mixin CV {
    #resume-container{
        cursor: pointer;
        display: grid;
        grid-template-rows: 95% 5%;
        #resume-dl-link{
            font-size:.8rem;
            grid-row: 2;
        }
        #resume-dl-link{
            grid-row:2;
        }
    }
}