@mixin CV {
    #resume-container{
        display: grid;
        align-items: center;
        grid-template-rows: 95% 5%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "resume resume"
            "bottom-left bottom-right";
        .cv-pdf{
            grid-area: resume;
        }
        #resume-pg-nav{
            grid-area: bottom-right;
            align-self: end;
            justify-self: end;
            cursor: pointer;
        }
        #resume-dl-link{
            font-size:.8rem;
            grid-area: bottom-left;
        }
    }
}