@mixin hobbyDeath { 
    #hobby-death-container {
        height: 100vh;
        display: grid; 
        grid-template-columns: auto;
        grid-template-rows: 60% auto auto;
        grid-template-areas: 
            "video"
            "description"
            "images";
        #hobby-death-video-container{
            grid-area: video;
            position: relative;
            padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
            .hobby-death-video {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .hobby-death-description{
            grid-area: description;
            justify-self: flex-start;
            z-index: 0;
            width: 50vw;
        }
        #hobby-death-images {
            grid-area: images;
            justify-self: flex-start;
            z-index: 0;
            width: 55vw;
            display: grid; 
            img { 
                width: 100%; 
                margin: .5rem 0rem .5rem 0rem;
            }
        }
    }
}