@mixin homePage {
    #homepage-container {
        height: 90vh;
        display: grid; 
        grid-template-columns: 10% 20% 70%;
        grid-template-rows: 40% 20% 10%;
        > img {
            grid-row-start: 2;
            grid-column-start: 3;
        }
    }
}