@use './features/01-home/home' as *;
@use './features/shared/text/text' as *;

.App {
  @include homePage;
}

a {
  text-decoration: none;
  color: rgba(0, 2, 109, 0.89)
}

// a:link {
//   text-decoration: none;
//   color:  rgba(0, 2, 109, 0.89);
// }

// a:visited {
//   color: inherit;
// }

text{
  color: rgba(0, 2, 109, 0.89);
}

#root{
  font-family: 'Tekst D';
}

.active-link{
  color: rgba(0, 184, 31, 0.89);
}
