@use './features/01-home/home' as *;
@use './features/shared/text/text' as *;
@use './features/shared/pages' as *;

.App {
  @include Pages; 
  display: grid;
  grid-template-columns: 10vw 88vw;
}

#sidebar-container{
  
  #sidebar-links{

    .active-link{
      color: rgba(0, 184, 31, 0.89);
    }
  }
}

a {
  text-decoration: none;
  color: inherit; 
} 

#root{
  color: rgba(0, 2, 109, 0.89);
  font-family: 'Tekst D';
}